body {
  background-color: linen;
  font-family: roboto, sans-serif;
}
#controls {
  margin-bottom: 8px;
}

.button {
  display: inline-block;
  padding: 8px;
  background-color: steelblue;
  border-radius: 4px;
  color: #fff;
}

#button-coral {
  background-color: coral;
}
#button-grey {
  background-color: lightslategrey;
}

canvas {
  border: black 1px solid;
  /* diplay: block; */
}

#personDetails {
  height: 90.1vh;
  width: 400px;
  display: inline-block;
  border: black 1px solid;
  vertical-align: top;
  padding: 8px;
}
