body {
  background-color: #333;
  font-family: roboto, sans-serif;
}
#controls {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  border-radius: 4px;
}

label {
  color: #fff;
}

.button {
  display: inline-block;
  padding: 8px;
  background-color: #82b230;
  border-radius: 4px;
  color: #fff;
}

#button-2 {
  background-color: #999;
}
#button-3 {
  background-color: #bbb;
}

canvas {
  border: black 1px solid;
  /* diplay: block; */
}

#personDetails {
  height: 90.1vh;
  width: 400px;
  display: inline-block;
  border: black 1px solid;
  vertical-align: top;
  padding: 8px;
}
